- content_for :head do
  %title srcsf.org | a home for the free, open stack
.pagetainer
  .slashunit /
  .name src
  .tagline A home for the<br/> free, open stack.
  %br
  %br
  .iconlink.twitter 
    <a href="https://twitter.com/src_sf">@src_sf</a>
